@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Saiba mais em <a href="https://www.sistemavirtual.com.br">Sistema Virtual</a>.</p>
</div>
